@*--------------------------------------- Универсальная модальная форма ----------------------------------------------------------------*@
<div id="ModalConfirmForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" data-role="confirm-header"><span></span>&nbsp;&nbsp;<span></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="text-center" data-role="confirm-text"><span class="glyphicon"></span>&nbsp;&nbsp;<span></span></h4>
                        <p data-role="description"></p>
                    </div>
                </div>
                <div class="row hidden" data-role="confirm-buttons">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <button class="btn btn-danger btn-block" data-role="confirm-button" data-dismiss="modal">Да</button>
                    </div>
                    <div class="col-xs-12 col-sm-offset-2 col-sm-4">
                        <button class="btn btn-default btn-block" data-role="cancel-button"  data-dismiss="modal">Отмена</button>
                    </div>
                </div>
                <div class="row hidden" data-role="alert-buttons">
                    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                        <button class="btn btn-default btn-block" data-role="alert-button" data-dismiss="modal">OK</button>
                    </div>
                </div>
                <div class="row hidden" data-role="processing">
                    <div class="col-xs-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="back-processing">
    <img src="~/Content/loading.gif"/> <span>Подождите..</span>
</div>
